<footer class="footer mt-auto py-3 bg-dark text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>About Us</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed et
          turpis eget ante commodo vehicula.</p>
      </div>
      <div class="col-md-4">
        <h5>Useful Links</h5>
        <ul class="list-unstyled">
          <li><a href="#">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <address>
          123 Main Street<br />
          City, State ZIP<br />
          Phone: 123-456-7890<br />
          Email: info@example.com
        </address>
      </div>
    </div>
  </div>
</footer>